$red: #7f2c2c;

.red {
	color: $red;
}
a.red {
	color: $red;
	&:hover {
		color: darken( $red, 10% )
	}
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 200;
	@media #{$medium-up} {
	}
	@media #{$large-up} {
	}
}

.gray-text {
	color: #444;
	text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.9);
	a {
		color: #777;

		&:hover {
			color: #000;
		}
	}
}

.section {
	position: relative;
	min-height: 100vh;
}
.item-bottom {
	position: absolute;
	bottom: 15vh;
	text-align: right;
}
.item-bottom-0 {
	position: absolute;
	bottom: 0;
}
.slide1, .slide3, .slide7 {
	transition: background-position .05s ease-in;
	background-repeat: no-repeat;
	background-position: 50% 0; // parallax from 50% -100px to 50% 0 to 50% 100px
	background-size: cover;
	background-attachment: fixed;
}

.slide1 {
	transition: background-position .2s;
	background-image: url(/images/hello-daigo.jpg);

	.hello {
		color: #2c4712;
		margin-top: 10vh;
		text-shadow: 1px 1px 3px rgba(255, 255, 255, 1);
	}
}
.slide2 {
	.ido {
		margin-top: 33vh;
	}
	.jack {
		color: #c5b6b6;
		text-shadow: 1px 1px 3px rgba(255, 255, 255, 1);
		em {
			text-decoration: underline;
		}
	}
}
.slide3 {
	background-image: url(/images/baseball.jpg);

	.ilikebaseball {
		margin-top: 10vh;
		color: #860a40;
		text-shadow: 1px 1px 3px rgba(255, 255, 255, 1);
	}
}
.talks li {
	margin-bottom: rem-calc(10);
}
.slide5 {
	background: #cdccbb;
}
.baseballhackday {
	margin-top: 10vh;
	a {
		color: $red;
	}
}

.logo-container {
	width: 40vw;
	max-width: rem-calc(250);
	margin: 1rem auto;
	g {
		fill: $red;
	}
}

.slide7 {
	background-image: url(/images/daigo-fenway.jpg);

}

//helpers

//helper for font weight
//Open+Sans:400,700,800
.font-light {
	font-weight: 200;
}
.font-weight-normal {
	font-weight: 400;
}
.font-bold {
	font-weight: 700;
}
.font-heavy {
	font-weight: 800;
}

//colors
.white {
	color: white !important;
}

.quiet {
	color: #eee;
	text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
}

.has-bottom-border {
	border-bottom: 1px solid #666;
}