/* 
	style.scss 
	Written by Daigo Fujiwara (@DaigoFuji)
	Date: December 2013
	use this: http://google-styleguide.googlecode.com/svn/trunk/htmlcssguide.xml#CSS_Style_Rules
	also: http://csslint.net/ (Will hurt your feelings)
*/

/* 
	Overriding foundation defaults.
	Or customize it:; http://foundation.zurb.com/download.php#customizeFoundation
.row {
	max-width: 75em;
}
.contain-to-grid .top-bar {
	max-width: 75em;
}
*/ 


h1, h2, h3, h4, h5, h6 {
  font-family: 'Stint Ultra Expanded', sans-serif; 
}

/*	image replacement with custom logo just uncomment this part
	http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/

#site-title {
    background-image: url(../img/logo.png);
    height: 100px; 
    width:  600px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
 */

/* space above humberger */
.toggle-topbar {
	padding-top:1em;
}

/* list align issue */

.disc > li, .square > li, .circle > li, ol > li {
    list-style-position: inside;
}

/* side bar */
.side-nav li a.button {
	color:#eee;
}

/* utility */
.quiet {
	color:#aaa;
}

/* footer */

footer {
	background-color: #ddd;
	margin-top: 50px;
	padding: 30px 0;
}
.copyright {
	font-size: .75em; /* 12px */
}

/* 
	Media queries. 
	Always use min-width and declare mobile first, override with desktop 
*/


h1, h2, h3, h4, h5, h6 {
	font-family: $head-font-stack;
	@media #{$medium-up} {
		line-height: 1.1;
	}
	@media #{$large-up} {
		line-height: 1;
	}
}

